
<span><a  href="/">Regresar</a></span> <span><button id="printButton">Imprimir Lista</button></span>
<br/>

<!-- Botón para mostrar la ventana modal del formulario de AGREGAR PRODUCTO -->
<button id="agregarProducto">Agregar Producto</button>

<h1>Lista de productos en Base de Datos</h1>
{{#if hasProducts}}
 <div class="grid">
        {{#each productos }}
        <article class="card product-item">
             <header class="card__header">
                <h2 class="product__title">{{ this.title}}</h2>
            </header>
            <div class="card__image">
                <img class="dbimg"src={{this.thumbnail}}
                    alt="Product">
            </div>
        </article>
        {{/each }}
    {{else}}
    <h1> ¡No se encontraron productos! </h1>
    {{/if}}
 </div>

<!-- Ventana modal para AGREGAR PRODUCTOS -->
<div id="modal" class="modal">
  <div class="modal-scrollable-content">
    <span class="close" id="cerrarModal">&times;</span>
    <h2>Ingresar Producto</h2>
    <form id="productForm" action="/api/products" method="POST">
      <label for="title">Título:</label>
      <input type="text" id="title" name="title" required />

      <label for="description">Descripción:</label>
      <input id="description" name="description" required></input>

      <label for="price">Precio:</label>
      <input type="number" id="price" name="price" step="0.01" required />

      <label for="thumbnail">URL de la Imagen:</label>
      <input type="url" id="thumbnail" name="thumbnail" required />

      <label for="code">Código:</label>
      <input type="text" id="code" name="code" required />

      <label for="stock">Stock:</label>
      <input type="number" id="stock" name="stock" required />
      <button type="submit">Agregar Producto</button>
    </form>
  </div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="assets/scripts/modalAddProduct.js"></script>
 <script type="module" src="assets/scripts/print.js"></script> 