<h2>{{titlePage}}</h2>
<hr />
<br /><br />
<div>
  <a href="/products">Productos - En FileSystem</a>
</div>
<div>
  <a href="/realtimeproducts">Productos en tiempo real - En FileSystem</a>
</div>
<div>
  <a href="/DBproducts">Productos - En DataBase </a>
</div>
<div>
  <a href="/chat">Chat- Con Handlebars </a>
</div>